{% extends "base.html" %}

{% block content%}
<div>
    <h1>
        Showing availability between {{ start_date }} and {{ end_date }}
        for {{ names }}</h1>
</div>
<div class="column" style="background-color:#96D1CD;">
    <table class="table">
        <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in free_time_data %}
        <tr class="table__row">
            {% for cell in row%}
            <td class="table__cell">{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}