{% extends "base.html" %}

{% block content%}
<div class="row">
    <div class="column" style="background-color:#FFB695;">
        <form name="filters" action="" method="post">
            <div>
                <label for="start_date">Start Date:</label>
                <input type="date" , id="start_date" name="start_date" value="{{ start_date }}" required>
            </div>
            <div>
                <label for="end_date">End Date:</label>
                <input type="date" , id="end_date" name="end_date" value="{{ end_date }}" required>
            </div>
            <div class="container mt-5">
                <select class="selectpicker" multiple aria-label="Default select example" data-live-search="true">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                </select>
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    </div>

    <div class="column" style="background-color:#96D1CD;">
        <h1>Schedule here</h1>
        <table class="table">
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row%}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}