{% extends "base.html" %}
<style>
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>

{% block content%}

<main class="px-3">

    <div style="padding:100px 0px 0px 5px;">
        <h1>Welcome to <span style="color:#146DC6; font-weight: bold;">Residents Doing Things</span>!</h1>
        <p class="fs-5 col-md-8">Spend less time scheduling, and more time hanging out.
        </p>
        <br>
        <div>
            <form action="" method="POST">
                <p>{{ form.accesscode(size="30%", placeholder="Amion Access Code") }}</p>
                <p style="color:red">{{error_message}}</p>
                <br>
                <p>
                    <input type="submit" class="btn btn-success btn-lg px-4 ">
                </p>
            </form>
        </div>
    </div>
</main>


{% endblock %}